.react-calendar {
  background-color: black;
  color: #ee7686;
  border: none;
  border-radius: 9px;
  padding: 11px;
}

.react-calendar__month-view__weekdays {
  color: #ee7686;
  font-weight: bold;
  text-transform: uppercase;
}

.react-calendar__tile {
  font-size: 2rem;
  color: #ee7686;
  transition: all 1.3s ease;
}

.react-calendar__tile--active {
  background-color: #ee7686;
  color: white;
  border-radius: 51%;
}

.react-calendar__tile--now {
  border: 3px solid #ee7685;
  border-radius: 51%;
}

.react-calendar__tile:hover {
  background-color: #ee7686;
  color: black;
  border-radius: 51%;
}

.react-calendar__tile--highlight {
  background-color: #ee7686;
  color: white;
  border-radius: 51%;
}
